<div class="container home">
    <div class="row">
        <div class="flow-text col s4 notDevoured">
            <p>Not Devoured</p>
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block}}
                {{/unless}}
            {{/each}}
        </div>
        <div class="homePage col s4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Welcome Home Traveler</span>
                    <p class="flow-text">Rest your weary bones.</p>
                </div>
                <div class="card-action">
                    <a href="#" class="waves-effect waves-light btn">eat a burger fatty</a>
                </div>
            </div>
        </div>
        <div class="flow-text col s4 devoured">
            <p>Devoured</p>
            {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/burger-block}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<a href="https://www.vecteezy.com/free-vector/image-src">Image Src Vectors by Vecteezy</a>