<div class="burgerDiv">

    <div class="flow-text red burger" data-id="{{this.uuid}}"><i class="fas fa-hamburger"></i> {{this.burger_name}}</div>
    {{#unless this.devoured}}
    <a class="devour flow-text waves-effect waves-light btn" data-id="{{this.uuid}}">Devour</a>
    {{/unless}}

</div>